.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__intro,
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
  }

  &__cards {
    height: 100%;
    justify-content: center;
  }

  &__intro-icon {
      font-size: 120px;
      margin-bottom: 30px;
  }

  &__intro-button {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px;
    position: relative;
    overflow:hidden;
    border: 1px solid #000;
    transition: color .5s ease-in-out;

    &-text {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -48px;
      height: 100%;
      background-color: #000;
      border: 1px solid #000;
      transition: bottom .5s ease-in-out;
      
    }

    &:hover {
      cursor: pointer;
      color: #fff;

      &::before {
        bottom: 0;
      }
    }
  }

  &__error {
    margin-top: 15px;
    font-family: 'Lora', sans-serif;
    background-color: #000;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
  }
}
