.list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 0 40px;

  &__container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 50px;
  }

  &__table {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }

  &__table-line {
    background-color: #fff;

    &:hover {
      background-color: darken(rgb(253, 197, 0), 5%);
    }
  }

  &__table-header {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px 20px;

    &:first-of-type {
      border-top-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
    }
  }

  &__table-body {
    vertical-align: middle;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Lora', sans-serif;
    border: 1px solid #000;
    
    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &__table-icon {
    font-size: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    font-size: 30px;
  }
}
