@import '../../scss/main.scss';

.empty-state {
  margin-bottom: 25px;
  text-align: center;

  &__icon {
    font-size: 70px;
    margin-bottom: 15px;
  }

  &__message {
    font-size: 21px;
    font-family: $font-secondary;
    font-weight: $font-bold;
  }
}
